# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/

# Misc
*.log
*.lock
.DS_Store
.idea/
.vscode/


# Project specific
API_DOCUMENTATION.md